/* CSS Document */

.hide-on-mobile {
	display: none;
}
.wrapthis {
	width: 90%;
}
.header-top ul.left, .header-top ul.right {
	margin-top: 6px!important;
	padding-top: 4px;
}
.header-top ul > li a {
	display: block;
}




.header-top ul li.parent:hover > ul {
	left: auto!important; right: 0px!important;}


.link.about, .link.news {
	display: none;
}
.header-top .search, .header-top .social, .header-top .login {
	display: none;
}
.header .logo {
	float: none;
	width: 250px;
	height: auto;
	margin: auto;
	padding-top: 20px;
}
.menu-toggle {
	width: 100%;
	padding: 10px 0px;
	margin-top: 20px;
	font-size: 13px;
}
.hp-news {
	display: none;
}
.hp-buttons {
	margin-bottom: 30px;
}
.hp-billboard {
	background-image: none!important;
	height: 450px;
}
.hp-billboard .more-link {
	padding: 15px 0px;
	width: 100%;
	display: block;
	text-align: center;
}
.hp-billboard .headline img {
	width: 100%;
}
.hp-buttons ul li, .hp-buttons ul li.green.last {
	float: none;
	width: 100%;
	margin-left: 0%;
	position: static;
	margin-bottom: 15px;
}
.hp-buckets .bucket {
	float: none;
	width: 100%;
	margin-right: 0%;
	margin-bottom: 40px;
}
.hp-buckets .bucket2-3 {
	float: none;
	width: 100%;
	margin-right: 0%;
	margin-bottom: 40px;
}
.page-heading h1.entry-title {

padding-top: 50px;
}
.page-heading .heading-left {
float: left;
width: 40%;
}
.single-format-standard.single .page-heading .heading-left {
 float: left;
width: 100%;
}

.page-heading .heading-right {
	width: 60%;
}
.page-heading .heading-right a.button {font-size: 14px;}
/* */
.landing-splash {
	height: 400px;
}
.landing-splash .headline .section-title {
	font-size: 25px;
	color: #D44827;
	margin-bottom: 5px;
}
.landing-splash .headline {
	padding-top: 60px;
	font-size: 30px;
	color: #FFF;
	font-weight: 900;
	width: 85%;
}
.landing-splash a.more-link {
	background-color: #006B3F;
	font-size: 18px;
	font-weight: 700;
	padding: 15px 0px;
	width: 100%;
	display: block;
	text-align: center;
}
.section-heading {
	text-align: center;
}
.middle-light .lcol.column {
	text-align: center;
}
.column {
	float: none!important;
	width: 90%!important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 0px;
	margin-top: auto!important;
}
/* CAREERS */
.careers .subpages {
	display: none;
}
.landing-splash .headline {
	padding-top: 30px;
	font-size: 30px;
	color: #FFF;
	font-weight: 900;
	width: 85%;
	margin-top: 0px;
	margin-bottom: 40px;
}

.xslider-img-wrapper .headline {
	margin-bottom: 0;
}
.careers .landing-splash .wrapthis {
	padding-top: 20px;
}
.careers.middle-dark #gallery li {
	float: left;
	margin-right: 0px;
	margin-bottom: 20px;
	width: 100%;
}
.featured-positions {
	text-align: center;
}
.featured-positions a {
	display: block;
	padding: 10px 0px;
}
.featured-positions span.heading {
	padding: 0px;
	padding-bottom: 20px;
}
.featured-positions span.spacer {
	display: none;
}
/* */
.footer-nav, .footer-logos {
	display: none;
}
footer#colophon {
	background-image: none;
	background-color: #141716;
	margin-top: 0px!important;
	border-top: 0px solid #454545;
}
.footer-copy {
	margin-top: 30px;
}
/* */
.breadcrumbs {
	display: none;
}
.page-heading .heading-right a.button {
	line-height: 20px;
	padding: 10px 0px;
}
/* */
#tabs {
	width: 100%;
	float: none;
	background-image: none;
	position: static;
	padding-top: 0px!important;
	height: 100%;
}
#tabs > li {
	display: block;
	text-align: center;
	padding: 10px 0px;
	width: 100%;
	margin-left: 0px;
}
#tabs > li.xactive span {
	display: none;
}
#panels {
	float: none;
	width: 100%;
}
#panels img {
	margin: 0px!important;
	width: 100%;
}
/**/
.middle-light .mcol.column .section-img {
	display: none;
}
.middle-light .mcol .section-text {
	width: 100%;
	float: none;
}

/* */

.widget-area { float: none;}

/* Careers Responsive Slider */

.xslider-img-wrapper {width: 100%; padding-top: 12%;}

.xslider-img-wrapper .headline {width: 95%; padding: 5%; margin: 0;}
